@utility shadow-rb-* {
  box-shadow: 1px 1px 0 0 --value(--color- *);
  @media (min-width: 360px) {
    box-shadow: 2px 2px 0 0 --value(--color- *);
  }
}

@utility shadow-brutal {
  box-shadow: 2px 2px 0 0 #000000;
}
