@layer components {
  .rustlanges-card {
    @apply bg-light border-1 shadow-brutal rounded-lg border-black p-4;
    @apply dark:bg-neutral-900;
  }

  .rustlanges-card--clickable {
    @apply cursor-pointer;

    @variant hover {
      @apply shadow-rb-violet-700 border-violet-700;
      @apply dark:border-primary-600 dark:shadow-rb-primary-600;
    }

    @apply active:shadow-none;
  }

  .rustlanges-card--disabled {
    @apply pointer-events-none shadow-none;
    @apply border-neutral-200;
    @apply dark:border-neutral-600;
  }

  .rustlanges-card--resource > svg {
    filter: drop-shadow(0px 0px 0px #000000) drop-shadow(4px 4px 0px #000000)
      url(#inset-shadow);
    @apply h-auto w-full;
  }

  .rustlanges-card--resource-body {
    @apply absolute inset-0 flex items-center justify-center p-10;
  }
}
